:root {
  --astro-orange: hsl(22, 100%, 70%);
  --astro-purple: hsl(256, 28%, 19%);
  --astro-purple-hover: hsl(256, 28%, 29%);
  --astro-purple-dark: hsl(256, 28%, 10%);
  --astro-purple-light: hsl(256, 28%, 92%);
  --astro-purple-bright: hsl(256, 28%, 96%);
  --astro-purple-med: hsl(256, 28%, 84%);
  --astro-purple-header: hsl(256, 28%, 74%);
  background-color: var(--astro-purple-light);
  color: var(--astro-purple-dark);
  font-family: "Inter", sans-serif;
}
html.dark {
  background-color: var(--astro-purple);
  color: var(--astro-purple-light);
}
.dark .navbar {
  background-color: var(--astro-purple-light);
  color: var(--astro-purple-dark);
}

.dark .navbar .nav-links {
  color: var(--astro-purple-dark);
}
.dark .navbar .title {
  text-shadow: 1px 1px 3px var(--astro-purple-dark);
}
.dark .navbar .nav-links:hover,
.dark .navbar .nav-links:active {
  color: var(--astro-purple-hover);
  text-shadow: 1px 1px 3px var(--astro-orange);
}
.dark .page-title {
  color: var(--astro-purple-med);
}
.dark .tagged li a {
  color: var(--astro-purple-light);
  border: 1px dotted var(--astro-purple-light);
}
.dark .hamburger-menu:hover,
.dark .hamburger-menu:active {
  background-color: var(--astro-purple-med);
  box-shadow: 1px 1px 3px var(--astro-orange);
}
.dark .bars {
  background-color: var(--astro-purple-dark);
}
.dark .frontmatter {
  color: var(--astro-purple-dark);
}
/* .dark .nav-links {
    color: var;
} */
body {
  margin: 0;
}
