---
import MainLayout from "../layouts/MainLayout.astro";

const posts = [1,2,3]
---
<MainLayout pageTitle = "My Astro Blog">
    <h2 class="text-xl m-4">This is my blog, where I run my mouth!</h2>
    <ul class="mx-6 flex flex-col items-start">
      
      {posts.map((name, index) => {
        return (<li class="hover:text-indigo-200 hover:bg-indigo-500 py-1 px-2 rounded hover:shadow-current hover:shadow-xl font-semibold">
        <a href=`/posts/post-${index + 1}`>Post {name}</a>
      </li>)
      })}
    </ul>
</MainLayout>


