---
const { route, routeName } = Astro.props;
import "../styles/global.css";
---

<a class="nav-links" href={route}>{routeName}</a>

<style>
  .nav-links {
    padding: 0.25rem 0.75rem;
    font-weight: 600;
    color: var(--astro-orange);
    border-radius: 0.5rem;
    text-decoration: none;
  }
  .nav-links:hover {
    color: var(--astro-purple-light);
  }
</style>
