---
import Link from "./Link.astro";
---

<nav class="p-4 flex justify-between items-center bg-indigo-300">
  <h1 class="text-3xl font-bold text-indigo-900">{Astro.props.title}</h1>
  <div>
    <Link route="/" routeName="home" />
    <Link route="/about" routeName="about" />
    <Link route="/blog" routeName="blog" />
  </div>
</nav>
