---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
const pageTitle = Astro.props.pageTitle;
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Karla:wght@700&display=swap"
      rel="stylesheet"
    />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="container">
      <Nav title={pageTitle} />
      <h1 class="title">{pageTitle}</h1>
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
<style>
  .title {
    text-align: center;
    margin: 0.5rem;
    font-size: 2.25rem;
    font-family: "Karla", sans-serif;
    font-weight: 700;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  main {
    margin: 0.5rem 1rem;
    flex-grow: 1;
  }
</style>
